body {
 background-color: lightblue;

}









h1 {
  color: black;
  margin-left: 0px;
  font-family: 	Courier New;
border-style: solid;
 border-color: black;
 
  
  

}

p {
	
	color: #F312122">Blue</button>

	
	
	
	
	
	
}


